#inputHolder{
    margin-bottom: 2%;
}

.cardStyle{
    background-color: blueviolet;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.reservationListStyle{
    background-color: brown;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.reservedRoom{
    background-color: chartreuse;
}